<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Eon:Eon</string>
	<key>artistName</key>
	<string>Project Pitchfork</string>
	<key>coverURL</key>
	<string>http://img2-ak.lst.fm/i/u/174s/166b1698cb3f45c38176ea8398f8a29a.png</string>
	<key>songName</key>
	<string>Carnival</string>
</dict>
</plist>
