<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Stacked Up</string>
	<key>artistName</key>
	<string>Senser</string>
	<key>coverURL</key>
	<string>http://img2-ak.lst.fm/i/u/174s/d266767fca8c4f4188b8a9d48b62ecbb.png</string>
	<key>songName</key>
	<string>One Touch One Bounce</string>
</dict>
</plist>
