<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Far Beyond Driven (20th Anniversary Edition Deluxe)</string>
	<key>artistName</key>
	<string>Pantera</string>
	<key>coverURL</key>
	<string>http://img2-ak.lst.fm/i/u/174s/71278f160501460dc6893f88b17e86d1.png</string>
	<key>currentPosition</key>
	<string>16504</string>
	<key>songDuration</key>
	<string>218866</string>
	<key>songName</key>
	<string>Strength Beyond Strength</string>
	<key>songRating</key>
	<string>★★☆☆☆</string>
</dict>
</plist>
